html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
    display: flex;
    justify-content: center;
}

.full-width {
    width: 100%;
}

.breadcrumb {
    font-weight: bold;
}

.page-header {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 16px;
}

.input-fieldset {
    max-width: 800px;
}