<h1>โรงเรียน</h1>

<div fxLayout="row wrap" fxLayoutGap="grid" *ngIf="data_school">
    <div fxFlex="50%">
        <mat-card class="example-card">
            <mat-card-content>
                <h2>รายละเอียด</h2>
                <div fxLayout="row wrap" fxLayoutGap="grid" *ngIf="data_school">
                    <div fxFlex="30%" fxFlex.xs="100%"><b>โรงเรียน:</b></div>
                    <div fxFlex="70%" fxFlex.xs="100%">{{ data_school.Name }}</div>
                </div>
                <div fxLayout="row wrap" fxLayoutGap="grid" *ngIf="data_school">
                    <div fxFlex="30%" fxFlex.xs="100%"><b>ที่อยู่:</b></div>
                    <div fxFlex="70%" fxFlex.xs="100%">{{ data_school.Address }}</div>
                </div>
                <div fxLayout="row wrap" fxLayoutGap="grid" *ngIf="data_school">
                    <div fxFlex="30%" fxFlex.xs="100%"><b>พื้นที่การศึกษา:</b></div>
                    <div fxFlex="70%" fxFlex.xs="100%">{{ data_school.Area }}</div>
                </div>
                <app-skeleton *ngIf="!data_school" [row]="3"></app-skeleton>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="50%">
        <div class="center">
            <img src="../assets/logo-500.png" width="150px" />
        </div>
    </div>
</div>
<br />
<h2>ปีการศึกษา</h2>
<div fxLayout="row wrap" fxLayoutGap="grid">
    <div fxFlex="50%" fxFlex.xs="100%">
        <button mat-raised-button color="primary" routerLink="/schoolyear-create">+
            เพิ่มปีการศึกษา</button>
    </div>
</div>
<br />
<table mat-table [dataSource]="data_schoolYear.Data" class="mat-elevation-z8 full-width" *ngIf="data_schoolYear.Data">
    <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let i = index">{{ data_schoolYear.LastCount + i + 1 }}</td>
    </ng-container>
    <ng-container matColumnDef="Year">
        <th mat-header-cell *matHeaderCellDef>ปีการศึกษา</th>
        <td mat-cell *matCellDef="let element">{{ element.Year }}</td>
    </ng-container>
    <ng-container matColumnDef="Semester">
        <th mat-header-cell *matHeaderCellDef>ภาคเรียนที่</th>
        <td mat-cell *matCellDef="let element">{{ element.Semester }}</td>
    </ng-container>
    <ng-container matColumnDef="StartDate">
        <th mat-header-cell *matHeaderCellDef>วันเปิดเทอม</th>
        <td mat-cell *matCellDef="let element">{{ thDateService.THDate(element.StartDate) }}</td>
    </ng-container>
    <ng-container matColumnDef="EndDate">
        <th mat-header-cell *matHeaderCellDef>วันสุดท้ายที่มีการเรียนการสอน</th>
        <td mat-cell *matCellDef="let element">{{ thDateService.THDate(element.EndDate) }} {{
            element.Teacher?.Lastname }}</td>
    </ng-container>
    <ng-container matColumnDef="Current">
        <th mat-header-cell *matHeaderCellDef>ภาคเรียนปัจจุบัน</th>
        <td mat-cell *matCellDef="let element"><span *ngIf="isCurrentSemester(element)">✅</span></td>
    </ng-container>
    <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element">
            <button mat-button [routerLink]="['/schoolyear-details']" [queryParams]="{id:element.Id}">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-button [routerLink]="['/schoolyear-details']" [queryParams]="{id:element.Id}">
                ตั้งค่าเป็นภาคเรียนปัจจุบัน
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['No','Year','Semester','StartDate','StartDate','Current','Actions']">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['No','Year','Semester','StartDate','StartDate','Current','Actions'];">
    </tr>
</table>
<br />
<app-skeleton *ngIf="!data_schoolYear.Data" [style]="'table'" [column]="4"></app-skeleton>