<div class="breadcrumb">
    <a routerLink="/home">หน้าหลัก</a> > <a routerLink="/course">บันทึกการพัฒนาผู้เรียน</a> > บันทึกการประเมินตัวชี้วัด
</div>
<div class="page-header" *ngIf="data">
    ห้อง <span>{{ GetTier(data.Classroom.Tier) }} {{ data.Classroom.ClassYear }} / {{data.Classroom.Subclass }}</span>
</div>
<div class="page-header" *ngIf="data">
    กลุ่มสาระการเรียนรู้ <span>{{ data.LearningArea.Name }}</span>
    วิชา <span>{{ data.Subject.Code }} {{ data.Subject.Name }}</span>
</div>
<div class="page-header-sub" *ngIf="data">
    ครูผู้สอน <span>{{ data.Teacher.Prefix }}{{ data.Teacher.Name }} {{ data.Teacher.Lastname }}</span>
</div>
<app-skeleton [style]="'detail'" [row]="6" *ngIf="!data"></app-skeleton>
<nav mat-tab-nav-bar [tabPanel]="tabPanel" *ngIf="data">
    <a mat-tab-link routerLink="/course-check"
        [queryParams]="{classroomid:classroomId,opensubjectid:opensubjectId}">บันทึกเวลาการเรียน</a>
    <a mat-tab-link routerLink="/course-grading" active
        [queryParams]="{classroomid:classroomId,opensubjectid:opensubjectId}">บันทึกการประเมินตัวชี้วัด</a>
    <a mat-tab-link routerLink="/course-evaluating"
        [queryParams]="{classroomid:classroomId,opensubjectid:opensubjectId,scoringgroupid:evaluate.Id}"
        *ngFor="let evaluate of data.OpenSubject.Evaluates">{{ evaluate.Name
        }}</a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
<br />
<button mat-raised-button color="primary" (click)="OnSave()">💾 บันทึก</button>
<br />
<br />
<table *ngIf="data">
    <thead>
        <tr>
            <th rowspan="3">เลขที่</th>
            <th rowspan="3">เลขประจำตัวนักเรียน</th>
            <th rowspan="3">ชื่อ - สกุล</th>
            <th colspan="6">{{ data.OpenSubject.Exam.ScoringSubGroups[0].Name }}</th>
            <th rowspan="3">ผลการแก้ไข</th>
            <th rowspan="2" colspan="2">สรุปผลการประเมิน</th>
            <th rowspan="3">หมายเหตุ</th>
        </tr>
        <tr>
            <th rowspan="2" *ngFor="let scoring of data.OpenSubject.Exam.ScoringSubGroups[0].Scorings">
                {{ scoring.Name}}
            </th>
            <th rowspan="2">รวม เต็ม {{ maxSumScore(data.OpenSubject.Exam.ScoringSubGroups[0].Scorings) }}</th>
            <th rowspan="2">ระดับผลการเรียน ได้</th>
            <th colspan="2">ผลการประเมิน</th>
        </tr>
        <tr>
            <th>ผ่าน</th>
            <th>ไม่ผ่าน</th>
            <th>ผ่าน</th>
            <th>ไม่ผ่าน</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let classroomStudent of data.Data;let i = index" class="stdCheck">
            <td>{{ i + 1 }}</td>
            <td>{{ classroomStudent.Student.Code }}</td>
            <td>{{ classroomStudent.Student.Prefix }}{{ classroomStudent.Student.Name }} {{
                classroomStudent.Student.Lastname }}</td>
            <td *ngFor="let scoring of data.OpenSubject.Exam.ScoringSubGroups[0].Scorings"
                [ngClass]="{'editing-row':checkScoreChange(classroomStudent.StudentId,data.OpenSubject.Exam.ScoringSubGroups[0].Id,scoring.Id),'editing-row-error':checkScoreChangeError(classroomStudent.StudentId,data.OpenSubject.Exam.ScoringSubGroups[0].Id,scoring.Id)}">
                <input type="number" max="{{ scoring.MaxScore }}" min="0"
                    (change)="ScoreChange(classroomStudent.StudentId,data.OpenSubject.Exam.ScoringSubGroups[0].Id,scoring.Id, $event)"
                    value="{{ getScore(classroomStudent.StudentId, scoring.Id) }}" />
            </td>
            <td>{{ SumScore(classroomStudent.StudentId) }}</td>
            <td>{{ GetGrade(classroomStudent.StudentId) }}</td>
            <td><span *ngIf="IsPass(classroomStudent.StudentId)">✅</span></td>
            <td><span *ngIf="!IsPass(classroomStudent.StudentId)">❌</span></td>
            <td
                [ngClass]="{'editing-row':checkScoreChange(classroomStudent.StudentId,data.OpenSubject.Exam.ScoringSubGroups[1].Id,data.OpenSubject.Exam.ScoringSubGroups[1].Scorings[0].Id),'editing-row-error':checkScoreChangeError(classroomStudent.StudentId,data.OpenSubject.Exam.ScoringSubGroups[1].Id,data.OpenSubject.Exam.ScoringSubGroups[1].Scorings[0].Id)}">
                <input type="number"
                    (change)="ScoreChange(classroomStudent.StudentId,data.OpenSubject.Exam.ScoringSubGroups[1].Id,data.OpenSubject.Exam.ScoringSubGroups[1].Scorings[0].Id, $event)"
                    value="{{ getScore(classroomStudent.StudentId, data.OpenSubject.Exam.ScoringSubGroups[1].Scorings[0].Id) }}"
                    *ngIf="!IsPass(classroomStudent.StudentId)" />
            </td>
            <td>
                <span *ngIf="IsPass(classroomStudent.StudentId)||IsPassFixed(classroomStudent.StudentId)">✅</span>
            </td>
            <td>
                <span *ngIf="!IsPass(classroomStudent.StudentId)&&!IsPassFixed(classroomStudent.StudentId)">❌</span>
            </td>
            <td [ngClass]="{'editing-row':checkRemarkChange(classroomStudent.StudentId)}">
                <input type="text" (change)="RemarkChange(classroomStudent.StudentId, $event)"
                    value="{{ getRemark(classroomStudent.StudentId) }}" />
            </td>
        </tr>
    </tbody>
</table>
<app-skeleton [style]="'table'" [column]="12" *ngIf="!data"></app-skeleton>
<br />
<button mat-raised-button color="primary" (click)="OnSave()">💾 บันทึก</button>
<br />
<br />
<h2><b>เกณฑ์การประเมิณ</b></h2>
<div *ngIf="data">
    <div *ngFor="let criteria of data.OpenSubject.Exam.GradingCriterias">
        มากกว่าหรือเท่ากับ <b>{{ criteria.Score }}</b> ได้ <b>{{ criteria.Grade }}</b>
    </div>
</div>
<app-skeleton [style]="'card'" [row]="1" [column]="4" *ngIf="!data"></app-skeleton>