<div class="breadcrumb">
    <a routerLink="/home">หน้าหลัก</a> > <a routerLink="/course">บันทึกการพัฒนาผู้เรียน</a> > บันทึกเวลาการเรียน
</div>
<div class="page-header" *ngIf="data">
    ห้อง <span>{{ GetTier(data.Classroom.Tier) }} {{ data.Classroom.ClassYear }} / {{data.Classroom.Subclass }}</span>
</div>
<div class="page-header" *ngIf="data">
    กลุ่มสาระการเรียนรู้ <span>{{ data.LearningArea.Name }}</span>
    วิชา <span>{{ data.Subject.Code }} {{ data.Subject.Name }}</span>
</div>
<div class="page-header-sub" *ngIf="data">
    ครูผู้สอน <span>{{ data.Teacher.Prefix }}{{ data.Teacher.Name }} {{ data.Teacher.Lastname }}</span>
</div>
<app-skeleton [style]="'detail'" [row]="6" *ngIf="!data"></app-skeleton>
<nav mat-tab-nav-bar [tabPanel]="tabPanel" *ngIf="data">
    <a mat-tab-link routerLink="/course-check" active
        [queryParams]="{classroomid:classroomId,opensubjectid:opensubjectId}">บันทึกเวลาการเรียน</a>
    <a mat-tab-link routerLink="/course-grading"
        [queryParams]="{classroomid:classroomId,opensubjectid:opensubjectId}">บันทึกการประเมินตัวชี้วัด</a>
    <a mat-tab-link routerLink="/course-evaluating"
        [queryParams]="{classroomid:classroomId,opensubjectid:opensubjectId,scoringgroupid:evaluate.Id}"
        *ngFor="let evaluate of data.OpenSubject.Evaluates">{{ evaluate.Name
        }}</a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
<br />
<button mat-raised-button color="primary" (click)="OnSave()">💾 บันทึก</button>
<div style="text-align: center;font-size: 20px;padding: 5px;">
    <a (click)="selectMonth(month.Month)" *ngFor="let month of dataMonths">
        <span *ngIf="month.Month==(showMonth+1)" style="font-weight: bold;">
            [{{ thDateService.monthOfYears[month.Month-1] }}]
        </span>
        <span *ngIf="month.Month!=(showMonth+1)" style="cursor: pointer">
            {{ thDateService.monthOfYears[month.Month-1] }}
        </span>
        &nbsp;&nbsp;</a>
</div>
<br />
<table *ngIf="data">
    <thead>
        <tr>
            <th rowspan="3">เลขที่</th>
            <th rowspan="3">เลขประจำตัวนักเรียน</th>
            <th rowspan="3">ชื่อ - สกุล</th>
            <th>สัปดาห์ที่</th>
            <th [attr.colspan]="week.DayCount" *ngFor="let week of dataWeeks">{{ week.Week }}</th>
            <th rowspan="3" style="writing-mode: vertical-rl;transform: rotate(180deg);">รวมเวลา</th>
            <th rowspan="3" style="writing-mode: vertical-rl;transform: rotate(180deg);">
                คิดเป็นร้อยละ<br />ของเวลาเรียนทั้งหมด</th>
        </tr>
        <tr>
            <th rowspan="2">วัน</th>
            <!-- <th *ngFor="let timeTable of dataTimeTables">{{ timeTable.Date | date:'E' }}</th> -->
            <th *ngFor="let timeTable of dataTimeTables"
                [ngClass]="{'no-teach':timeTable.DayNo==0||timeTable.DayNo==6}">
                {{ thDateService.dayOfWeeks[timeTable.DayNo] }}</th>
        </tr>
        <tr>
            <!-- <th *ngFor="let timeTable of dataTimeTables"
                style="writing-mode: vertical-rl;transform: rotate(180deg);text-align: left;width: 55px;"><input type="checkbox" /> {{ timeTable.Date | date:'d MMM y' }}</th> -->
            <th *ngFor="let timeTable of dataTimeTables" [ngClass]="{'no-teach':timeTable.DayNo==0||timeTable.DayNo==6}"
                style="writing-mode: vertical-rl;transform: rotate(180deg);text-align: left;">
                <input type="checkbox" *ngIf="isOpen(timeTable.DayNo)"
                    (change)="DayChackChange(timeTable.DayNo,timeTable.Date,$event)"
                    style="transform: rotate(-180deg)" />
                <span *ngIf="!isOpen(timeTable.DayNo)">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                {{ thDateService.THDate(timeTable.Date) }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let classroomStudent of data.Data;let i = index" class="stdCheck">
            <td>{{ i + 1 }}</td>
            <td>{{ classroomStudent.Student.Code }}</td>
            <td>
                {{ classroomStudent.Student.Prefix }}{{ classroomStudent.Student.Name }}
                {{classroomStudent.Student.Lastname }}
            </td>
            <td></td>
            <td *ngFor="let timeTable of dataTimeTables"
                [ngClass]="{'no-teach':timeTable.DayNo==0||timeTable.DayNo==6,'editing-row':isOpen(timeTable.DayNo)&&checkIsPresentChange(classroomStudent.StudentId,timeTable.DayNo,timeTable.Date)}">
                <input type="checkbox" *ngIf="isOpen(timeTable.DayNo)"
                    [(ngModel)]="GetIsPresent(classroomStudent.StudentId, timeTable.DayNo,timeTable.Date).IsPresent"
                    (change)="ChackChange(classroomStudent.StudentId, timeTable.DayNo,timeTable.Date,$event)" />
            </td>
            <td><b>{{ sumCheck(classroomStudent.StudentId) }}</b></td>
            <td><b>{{ sumCheckPercent(classroomStudent.StudentId) | number: '1.2-2' }}</b></td>
        </tr>
    </tbody>
</table>
<app-skeleton [style]="'table'" [column]="12" *ngIf="!data"></app-skeleton>
<br />
<button mat-raised-button color="primary" (click)="OnSave()">💾 บันทึก</button>