<div class="breadcrumb">
    <a routerLink="/home">หน้าหลัก</a> >
    <a routerLink="/data-management">จัดการข้อมูล</a> >
    รายเอียดนักเรียน
</div>
<div class="center">
    <h1>รายเอียดนักเรียน</h1>
</div>
<br />
<div fxLayout="row wrap" fxLayoutGap="grid">
    <div fxFlex="100%" fxFlex.xs="100%">
        <button mat-raised-button color="primary" [routerLink]="['/student-create']"
            [queryParams]="{id:id}">แก้ไขนักเรียน</button>
        &nbsp;
        <button mat-raised-button color="warn" (click)="delete()">ลบนักเรียน</button>
        <br />
        <br />
        <mat-card class="example-card">
            <mat-card-content>
                <h2>รายละเอียด</h2>
                <div fxLayout="row wrap" fxLayoutGap="grid" *ngIf="data">
                    <div fxFlex="30%" fxFlex.xs="100%"><b>รหัสประจำตัว:</b></div>
                    <div fxFlex="70%" fxFlex.xs="100%">{{ data.Name }}</div>
                </div>
                <div fxLayout="row wrap" fxLayoutGap="grid" *ngIf="data">
                    <div fxFlex="30%" fxFlex.xs="100%"><b>ชื่อ:</b></div>
                    <div fxFlex="70%" fxFlex.xs="100%">{{ data.Prefix }}{{ data.Name }} {{ data.Lastname }}</div>
                </div>
                <div fxLayout="row wrap" fxLayoutGap="grid" *ngIf="data">
                    <div fxFlex="30%" fxFlex.xs="100%"><b>รหัสประชาชน:</b></div>
                    <div fxFlex="70%" fxFlex.xs="100%">{{ data.PID }}</div>
                </div>
                <app-skeleton *ngIf="!data" [row]="2"></app-skeleton>
            </mat-card-content>
        </mat-card>
    </div>
</div>