<div class="breadcrumb">
    <a routerLink="/home">หน้าหลัก</a> > <a routerLink="/course">บันทึกการพัฒนาผู้เรียน</a> > {{ dataEvaluate?.Name }}
</div>
<div class="page-header" *ngIf="data">
    ห้อง <span>{{ GetTier(data.Classroom.Tier) }} {{ data.Classroom.ClassYear }} / {{data.Classroom.Subclass }}</span>
</div>
<div class="page-header" *ngIf="data">
    กลุ่มสาระการเรียนรู้ <span>{{ data.LearningArea.Name }}</span>
    วิชา <span>{{ data.Subject.Code }} {{ data.Subject.Name }}</span>
</div>
<div class="page-header-sub" *ngIf="data">
    ครูผู้สอน <span>{{ data.Teacher.Prefix }}{{ data.Teacher.Name }} {{ data.Teacher.Lastname }}</span>
</div>
<app-skeleton [style]="'detail'" [row]="6" *ngIf="!data"></app-skeleton>
<nav mat-tab-nav-bar [tabPanel]="tabPanel" *ngIf="data">
    <a mat-tab-link routerLink="/course-check"
        [queryParams]="{classroomid:classroomId,opensubjectid:opensubjectId}">บันทึกเวลาการเรียน</a>
    <a mat-tab-link routerLink="/course-grading"
        [queryParams]="{classroomid:classroomId,opensubjectid:opensubjectId}">บันทึกการประเมินตัวชี้วัด</a>
    <a mat-tab-link routerLink="/course-evaluating" [active]="evaluate.Id==scoringGroupId"
        [queryParams]="{classroomid:classroomId,opensubjectid:opensubjectId,scoringgroupid:evaluate.Id}"
        *ngFor="let evaluate of data.OpenSubject.Evaluates">{{ evaluate.Name
        }}</a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
<br />
<button mat-raised-button color="primary" (click)="OnSave()">💾 บันทึก</button>
<br />
<br />
<table *ngIf="data">
    <thead>
        <tr>
            <th rowspan="2">เลขที่</th>
            <th rowspan="2">เลขประจำตัวนักเรียน</th>
            <th rowspan="2">ชื่อ - สกุล</th>
            <th rowspan="2" *ngFor="let scoringSubGroup of this.dataEvaluate.ScoringSubGroups"
                style="writing-mode: vertical-rl;transform: rotate(180deg);">
                {{ scoringSubGroup.Name }}
            </th>
            <th rowspan="2" style="writing-mode: vertical-rl;transform: rotate(180deg);">รวมคะแนน</th>
            <th colspan="4">สรุปผลการประเมิน</th>
            <th rowspan="2">หมายเหตุ</th>
        </tr>
        <tr>
            <th style="writing-mode: vertical-rl;transform: rotate(180deg);" *ngFor="let criteria of this.dataEvaluate.GradingCriterias">
                {{ criteria.Grade }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let classroomStudent of data.Data;let i = index" class="stdCheck">
            <td>{{ i + 1 }}</td>
            <td>{{ classroomStudent.Student.Code }}</td>
            <td>
                {{ classroomStudent.Student.Prefix }}{{ classroomStudent.Student.Name }}
                {{classroomStudent.Student.Lastname }}
            </td>
            <td *ngFor="let scoringSubGroup of this.dataEvaluate.ScoringSubGroups">
                <div fxLayout="row wrap" fxLayoutGap="grid">
                    <div fxFlex *ngFor="let scoring of scoringSubGroup.Scorings"
                        [ngClass]="{'editing-row':checkScoreChange(classroomStudent.StudentId, scoringSubGroup.Id, scoring.Id)}">
                        <mat-select [value]="getScore(classroomStudent.StudentId, scoring.Id)"
                            (valueChange)="ScoreChange(classroomStudent.StudentId, scoring.Id, $event)">
                            <mat-option *ngFor="let score of getArrayFromNumber(scoring.MaxScore);let i=index"
                                [value]="i+1">{{ i+1 }}</mat-option>
                        </mat-select>
                    </div>
                    <!-- <div fxFlex>{{ GetGrade(classroomStudent.StudentId) }}</div> -->
                </div>
            </td>
            <td>{{ SumScore(classroomStudent.StudentId) }}</td>
            <td *ngFor="let criteria of this.dataEvaluate.GradingCriterias">
                <span *ngIf="GetGrade(classroomStudent.StudentId)==criteria.Grade">✅</span>
            </td>
            <td [ngClass]="{'editing-row':checkRemarkChange(classroomStudent.StudentId)}" style="width: 200px;">
                <input type="text" (change)="RemarkChange(classroomStudent.StudentId, $event)"
                    value="{{ getRemark(classroomStudent.StudentId) }}" />
            </td>
        </tr>
    </tbody>
</table>
<app-skeleton [style]="'table'" [column]="12" *ngIf="!data"></app-skeleton>
<br />
<button mat-raised-button color="primary" (click)="OnSave()">💾 บันทึก</button>
<br />
<br />
<h2><b>เกณฑ์การประเมิณ</b></h2>
<div *ngIf="dataEvaluate">
    <div *ngFor="let criteria of dataEvaluate.GradingCriterias">
        มากกว่าหรือเท่ากับ <b>{{ criteria.Score }}</b> ได้ <b>{{ criteria.Grade }}</b>
    </div>
</div>
<app-skeleton [style]="'detail'" *ngIf="!dataEvaluate"></app-skeleton>