<div class="breadcrumb">
    <a routerLink="/home">หน้าหลัก</a> > <a routerLink="/course">บันทึกการพัฒนาผู้เรียน</a> > บันทึกการประเมินตัวชี้วัด
</div>
<div class="page-header" *ngIf="dataEvaluate">{{ dataEvaluate.Name }}</div>
<app-skeleton [style]="'detail'" [row]="1" *ngIf="!dataEvaluate"></app-skeleton>

<mat-card class="example-card" *ngIf="data">
    <mat-card-content>
        <div fxLayout="row wrap" fxLayoutGap="grid">
            <div fxFlex="20%" fxFlex.xs="100%"><b>ชั้นปี:</b></div>
            <div fxFlex="80%" fxFlex.xs="100%">
                {{ GetTier(data.Classroom.Tier) }} {{ data.Classroom.ClassYear }} / {{data.Classroom.Subclass }}
            </div>
            <div fxFlex="20%" fxFlex.xs="100%"><b>กลุ่มสาระการเรียนรู้:</b></div>
            <div fxFlex="80%" fxFlex.xs="100%">{{ data.LearningArea.Name }}</div>
            <div fxFlex="20%" fxFlex.xs="100%"><b>วิชา:</b></div>
            <div fxFlex="80%" fxFlex.xs="100%">{{ data.Subject.Code }} {{ data.Subject.Name }}</div>
            <div fxFlex="20%" fxFlex.xs="100%"><b>ครูผู้สอน:</b></div>
            <div fxFlex="80%" fxFlex.xs="100%">
                {{ data.Teacher.Prefix }}{{ data.Teacher.Name }} {{ data.Teacher.Lastname }}
            </div>
        </div>
    </mat-card-content>
</mat-card>
<app-skeleton [style]="'detail'" *ngIf="!data"></app-skeleton>
<br />
<button mat-raised-button color="primary" (click)="OnSave()">💾 บันทึก</button>
<br />
<br />
<table *ngIf="data">
    <thead>
        <tr>
            <th rowspan="2">เลขที่</th>
            <th rowspan="2">เลขประจำตัวนักเรียน</th>
            <th rowspan="2">ชื่อ - สกุล</th>
            <th rowspan="2" *ngFor="let scoringSubGroup of this.dataEvaluate.ScoringSubGroups"
                style="writing-mode: vertical-rl;text-align: left;">
                {{ scoringSubGroup.Name }}
            </th>
            <th rowspan="2" style="writing-mode: vertical-rl;">รวมคะแนน</th>
            <th colspan="4">สรุปผลการประเมิน</th>
            <th rowspan="2">หมายเหตุ</th>
        </tr>
        <tr>
            <th *ngFor="let criteria of this.dataEvaluate.GradingCriterias" style="writing-mode: vertical-rl;">
                {{ criteria.Grade }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let classroomStudent of data.Data;let i = index" class="stdCheck">
            <td>{{ i + 1 }}</td>
            <td>{{ classroomStudent.Student.Code }}</td>
            <td>
                {{ classroomStudent.Student.Prefix }}{{ classroomStudent.Student.Name }}
                {{classroomStudent.Student.Lastname }}
            </td>
            <td *ngFor="let scoringSubGroup of this.dataEvaluate.ScoringSubGroups">
                <div fxLayout="row wrap" fxLayoutGap="grid">
                    <div fxFlex *ngFor="let scoring of scoringSubGroup.Scorings"
                        [ngClass]="{'editing-row':checkScoreChange(classroomStudent.StudentId, scoringSubGroup.Id, scoring.Id)}">
                        <mat-select [value]="getScore(classroomStudent.StudentId, scoring.Id)"
                            (valueChange)="ScoreChange(classroomStudent.StudentId, scoring.Id, $event)">
                            <mat-option *ngFor="let score of getArrayFromNumber(scoring.MaxScore);let i=index"
                                [value]="i+1">{{ i+1 }}</mat-option>
                        </mat-select>
                    </div>
                    <!-- <div fxFlex>{{ GetGrade(classroomStudent.StudentId) }}</div> -->
                </div>
            </td>
            <td>{{ SumScore(classroomStudent.StudentId) }}</td>
            <td *ngFor="let criteria of this.dataEvaluate.GradingCriterias">
                <span *ngIf="GetGrade(classroomStudent.StudentId)==criteria.Grade">✅</span>
            </td>
            <td [ngClass]="{'editing-row':checkRemarkChange(classroomStudent.StudentId)}" style="width: 200px;">
                <input type="text" (change)="RemarkChange(classroomStudent.StudentId, $event)"
                    value="{{ getRemark(classroomStudent.StudentId) }}" />
            </td>
        </tr>
    </tbody>
</table>
<app-skeleton [style]="'table'" [column]="12" *ngIf="!data"></app-skeleton>
<br />
<button mat-raised-button color="primary" (click)="OnSave()">💾 บันทึก</button>
<br />
<br />
<h2><b>เกณฑ์การประเมิณ</b></h2>
<div *ngFor="let criteria of dataEvaluate.GradingCriterias">
    มากกว่าหรือเท่ากับ <b>{{ criteria.Score }}</b> ได้ <b>{{ criteria.Grade }}</b>
</div>