<div class="breadcrumb">
    <a routerLink="/home">หน้าหลัก</a> > จัดการข้อมูลห้องเรียน
</div>
<div class="center">
    <h1>จัดการข้อมูลห้องเรียน</h1>
</div>
<nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a mat-tab-link routerLink="/opensubject-manage">วิชาที่เปิดสอน</a>
    <a mat-tab-link routerLink="/classroom-manage" active>ห้องเรียน</a>
    <a mat-tab-link routerLink="/subject-manage">กลุ่มสาระการเรียนรู้</a>
    <a mat-tab-link routerLink="/person-manage">บุคคล</a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
<br />
<h2>ห้องเรียน</h2>
<div fxLayout="row wrap" fxLayoutGap="grid">
    <div fxFlex="50%" fxFlex.xs="100%">
        <button mat-raised-button color="primary" routerLink="/classroom-create">+
            เพิ่มห้องเรียน</button>
    </div>
</div>
<br />
<table mat-table [dataSource]="data_classroom.Data" class="mat-elevation-z8 full-width" *ngIf="data_classroom.Data">
    <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let i = index">{{ data_classroom.LastCount + i + 1 }}</td>
    </ng-container>
    <ng-container matColumnDef="Tier">
        <th mat-header-cell *matHeaderCellDef>ระดับ</th>
        <td mat-cell *matCellDef="let element">{{ GetTier(element.Tier) }}</td>
    </ng-container>
    <ng-container matColumnDef="Classroom">
        <th mat-header-cell *matHeaderCellDef>ห้องเรียน</th>
        <td mat-cell *matCellDef="let element">{{ element.ClassYear }} / {{ element.Subclass }}</td>
    </ng-container>
    <ng-container matColumnDef="TeacherName">
        <th mat-header-cell *matHeaderCellDef>ครูประจำชั้น</th>
        <td mat-cell *matCellDef="let element">{{ element.Teacher?.Prefix }}{{ element.Teacher?.Name }} {{
            element.Teacher?.Lastname }}</td>
    </ng-container>
    <ng-container matColumnDef="StudentCount">
        <th mat-header-cell *matHeaderCellDef>จำนวนนักเรียน</th>
        <td mat-cell *matCellDef="let element">{{ element.StudentCount }}</td>
    </ng-container>
    <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element">
            <button mat-button [routerLink]="['/classroom-details']" [queryParams]="{id:element.Id}">
                <mat-icon>search</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['No','Tier','Classroom','TeacherName','StudentCount','Actions']">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['No','Tier','Classroom','TeacherName','StudentCount','Actions'];">
    </tr>
</table>
<br />
<app-skeleton *ngIf="!data_classroom.Data" [style]="'table'" [column]="4"></app-skeleton>

<h2>นักเรียนในห้องเรียน</h2>
<div fxLayout="row wrap" fxLayoutGap="grid">
    <div fxFlex="50%" fxFlex.xs="100%">
        <button mat-raised-button color="primary" routerLink="/classroom-student-create">+
            เพิ่มนักเรียนในห้องเรียน</button>
    </div>
</div>
<br />
<table mat-table [dataSource]="data_classroomStudent.Data" class="mat-elevation-z8 full-width"
    *ngIf="data_classroomStudent.Data">
    <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let i = index">{{ data_classroomStudent.LastCount + i + 1 }}</td>
    </ng-container>
    <ng-container matColumnDef="Tier">
        <th mat-header-cell *matHeaderCellDef>ระดับ</th>
        <td mat-cell *matCellDef="let element">{{ GetTier(element.Classroom?.Tier) }}</td>
    </ng-container>
    <ng-container matColumnDef="Classroom">
        <th mat-header-cell *matHeaderCellDef>ห้องเรียน</th>
        <td mat-cell *matCellDef="let element">{{ element.Classroom?.ClassYear }} / {{
            element.Classroom?.Subclass }}
        </td>
    </ng-container>
    <ng-container matColumnDef="StudentName">
        <th mat-header-cell *matHeaderCellDef>นักเรียน</th>
        <td mat-cell *matCellDef="let element">{{ element.Student?.Prefix }}{{ element.Student?.Name }} {{
            element.Student?.Lastname }}</td>
    </ng-container>
    <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element">
            <button mat-button [routerLink]="['/classroom-student-details']" [queryParams]="{id:element.Id}">
                <mat-icon>search</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['No','Tier','Classroom','StudentName','Actions']">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['No','Tier','Classroom','StudentName','Actions'];">
    </tr>
</table>
<br />
<app-skeleton *ngIf="!data_classroomStudent.Data" [style]="'table'" [column]="4"></app-skeleton>