<style>
    table {
        width: 100%;
    }

    table,
    tr,
    td,
    th {
        border: 1px solid black;
    }

    tr.stdCheck td {
        text-align: center;
        text-decoration: none;
    }
</style>
<div class="breadcrumb">
    <a routerLink="/home">หน้าหลัก</a> > <a routerLink="/course">บันทึกการพัฒนาผู้เรียน</a> > บันทึกการประเมิน
    (การประเมินคุณลักษณะอันพึงประสงค์)
</div>
<div class="center">
    <h1>บันทึกการประเมิน</h1>
</div>
<div class="center">
    <h2>การประเมินคุณลักษณะอันพึงประสงค์</h2>
</div>

<mat-card class="example-card">
    <mat-card-content>
        <div fxLayout="row wrap" fxLayoutGap="grid" *ngIf="data">
            <div fxFlex="20%" fxFlex.xs="100%"><b>ชั้นปี:</b></div>
            <div fxFlex="80%" fxFlex.xs="100%">3/2</div>
            <div fxFlex="20%" fxFlex.xs="100%"><b>กลุ่มสาระการเรียนรู้:</b></div>
            <div fxFlex="80%" fxFlex.xs="100%">การงานอาชีพ</div>
            <div fxFlex="20%" fxFlex.xs="100%"><b>วิชา:</b></div>
            <div fxFlex="80%" fxFlex.xs="100%">คอมพิวเตอร์</div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="grid" *ngIf="!data">
            <div fxFlex="100%" fxFlex.xs="100%">
                <div class="skeleton skeleton-text"></div>
            </div>
            <div fxFlex="100%" fxFlex.xs="100%">
                <div class="skeleton skeleton-text"></div>
            </div>
            <div fxFlex="100%" fxFlex.xs="100%">
                <div class="skeleton skeleton-text"></div>
            </div>
            <div fxFlex="100%" fxFlex.xs="100%">
                <div class="skeleton skeleton-text"></div>
            </div>
            <div fxFlex="100%" fxFlex.xs="100%">
                <div class="skeleton skeleton-text"></div>
            </div>
            <div fxFlex="100%" fxFlex.xs="100%">
                <div class="skeleton skeleton-text"></div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br />

<mat-tab-group>
    <mat-tab label="ข้อ 1. รักชาติ ศาสน์ กษัตริย์"></mat-tab>
    <mat-tab label="ข้อ 2. ซื่อสัตย์ สุจริต"></mat-tab>
    <mat-tab label="ข้อ 3. มีวินัย"></mat-tab>
    <mat-tab label="ข้อ 4. ไฝ่เรียนรู้"></mat-tab>
    <mat-tab label="ข้อ 5. อยู่อย่างพอเพียง"></mat-tab>
    <mat-tab label="ข้อ 6. มุ่งมั่นในการทำงาน"></mat-tab>
    <mat-tab label="ข้อ 7. รักความเป็นไทย"></mat-tab>
    <mat-tab label="ข้อ 8. มีจิตสาธารณะ"></mat-tab>
</mat-tab-group>
<br />
<button mat-raised-button color="primary">💾 บันทึก</button>
<br />
<br />
<table>
    <thead>
        <tr>
            <th rowspan="3">เลขที่</th>
            <th rowspan="3">เลขประจำตัวนักเรียน</th>
            <th rowspan="3">ชื่อ - สกุล</th>
            <th colspan="4">สรุปผลการประเมิน</th>
        </tr>
        <tr>
            <th>ดีเยี่ยม</th>
            <th>ดี</th>
            <th>ผ่านเกณฑ์การประเมิน</th>
            <th>ไม่ผ่านผ่านเกณฑ์การประเมิน</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]" class="stdCheck">
            <td>{{i}}</td>
            <td>5432</td>
            <td>ด.ช.กก ขข</td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
        </tr>
    </tbody>
</table>
<br />
<button mat-raised-button color="primary">💾 บันทึก</button>
