<div class="breadcrumb">
    <a routerLink="/home">หน้าหลัก</a> >
    <a routerLink="/opensubject-manage">จัดการข้อมูลวิชาที่เปิดสอน</a> >
    <span *ngIf="!editingId">ลงทะเบียนเรียน</span>
    <span *ngIf="editingId">
        <a [routerLink]="['/classroom-student-details']" [queryParams]="{id:editingId}">รายเอียดลงทะเบียนเรียน</a> >
        แก้ไขลงทะเบียนเรียน
    </span>
</div>
<div class="center">
    <h1 *ngIf="!editingId">ลงทะเบียนเรียน</h1>
    <h1 *ngIf="editingId">แก้ไขลงทะเบียนเรียน</h1>
</div>

<div fxLayout="row wrap" fxLayoutGap="grid">
    <div fxFlex="50%" fxFlex.xs="100%">
        <mat-card class="example-card">
            <mat-card-content>
                <div fxLayout="row wrap" fxLayoutGap="grid" *ngIf="fg">
                    <form [formGroup]="fg" (ngSubmit)="onSave()">
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>ห้องเรียน</mat-label>
                            <mat-select formControlName="ClassroomId">
                                <mat-option *ngFor="let item of data_classroom.Data" [value]="item.Id">{{ GetTier(item.Tier) }} {{ item.ClassYear }} / {{ item.Subclass }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>วิชาที่เปิดสอน</mat-label>
                            <mat-select formControlName="OpenSubjectId">
                                <mat-option *ngFor="let item of data_openSubject.Data" [value]="item.Id">({{ item.Subject?.Code }}) {{ item.Subject?.Name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button type="submit" mat-raised-button color="primary">บันทึก</button>
                    </form>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
