<div class="breadcrumb">
    <a routerLink="/home">หน้าหลัก</a> > บันทึกการพัฒนาผู้เรียน
</div>
<div class="center">
    <h1>บันทึกการพัฒนาผู้เรียน</h1>
</div>

<table mat-table [dataSource]="displayData" class="mat-elevation-z8 full-width">
    <ng-container matColumnDef="ClassRoom">
        <th mat-header-cell *matHeaderCellDef>ชั้นปี</th>
        <td mat-cell *matCellDef="let element">{{ element.Classroom }}
        </td>
    </ng-container>
    <ng-container matColumnDef="Subject">
        <th mat-header-cell *matHeaderCellDef>วิชา</th>
        <td mat-cell *matCellDef="let element">{{ element.Subject }}</td>
    </ng-container>
    <ng-container matColumnDef="CourseCheck">
        <th mat-header-cell *matHeaderCellDef>บันทึกเวลาการเรียน</th>
        <td mat-cell *matCellDef="let element">
            <a routerLink="/course-check"
                [queryParams]="{classroomid:element.ClassroomId,opensubjectid:element.OpenSubjectId}"
                *ngIf="element.Subject">
                <mat-icon>insert_chart_outlined</mat-icon></a>
        </td>
    </ng-container>
    <ng-container matColumnDef="CourseGrading">
        <th mat-header-cell *matHeaderCellDef>บันทึกการประเมินตัวชี้วัด</th>
        <td mat-cell *matCellDef="let element">
            <a routerLink="/course-grading"
                [queryParams]="{classroomid:element.ClassroomId,opensubjectid:element.OpenSubjectId}"
                *ngIf="element.Subject"><mat-icon>insert_chart_outlined</mat-icon></a>
        </td>
    </ng-container>
    <ng-container matColumnDef="CourseEvaluating">
        <th mat-header-cell *matHeaderCellDef>บันทึกการประเมิน</th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="element.Subject">
                <div *ngFor="let evaluate of fetchEvaluates(element.OpenSubjectId)">
                    <a routerLink="/course-evaluating"
                        [queryParams]="{classroomid:element.ClassroomId,opensubjectid:element.OpenSubjectId,scoringgroupid:evaluate.Id}">{{
                        evaluate.Name }}</a>
                </div>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['ClassRoom','Subject','CourseCheck','CourseGrading','CourseEvaluating']">
    </tr>
    <tr mat-row
        *matRowDef="let row; columns: ['ClassRoom','Subject','CourseCheck','CourseGrading','CourseEvaluating'];">
    </tr>
</table>
<app-skeleton [style]="'table'" *ngIf="!displayData.length" [column]="5"></app-skeleton>